{
  "openapi": "3.0.3",
  "info": {
    "title": "Chat API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.atendai.com"
    }
  ],
  "externalDocs": {
    "url": "https://docs.typebot.io/api-reference"
  },
  "paths": {
    "/api/messages/text": {
      "post": {
        "operationId": "sendTextMessage",
        "summary": "Send a text message",
        "tags": [
          "Send Mensages"
        ],
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "O número que receberá a mensagem com DDI (exemplo: 553175038350)."
                  },
                  "message": {
                    "type": "string",
                    "description": "O conteúdo da mensagem que será enviada. É possível utilizar estilização de texto no padrão do WhatsApp."
                  },
                  "autoClose": {
                    "type": "boolean",
                    "description": "Indica se o ticket deve ser fechado automaticamente ou não após essa mensagem."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<success message>"
                    }
                  },
                  "example": {
                    "message": "<success message>"
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/location": {
      "post": {
        "operationId": "sendLocation",
        "summary": "Send a location message",
        "tags": [
          "Send Location"
        ],
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "O número que receberá a mensagem."
                  },
                  "locdata": {
                    "type": "object",
                    "description": "Os dados de localização em um objeto JSON. Veja o modelo.",
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "description": "Latitude da localização",
                        "example": 25.65239387554923
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Longitude da localização",
                        "example": 25.65239387554923
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do endereço",
                        "example": "Al Bayt Stadium"
                      },
                      "address": {
                        "type": "string",
                        "description": "Endereço",
                        "example": "2022 World Cup Opening Venue in Qatar"
                      },
                      "footerText": {
                        "type": "string",
                        "description": "Texto a ser enviado na mensagem",
                        "example": "Footer Text"
                      }
                    }
                  },
                  "autoClose": {
                    "type": "boolean",
                    "description": "Indica se o ticket deve ser fechado automaticamente ou não após essa mensagem."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<success message>"
                    }
                  },
                  "example": {
                    "message": "<success message>"
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/media": {
      "post": {
        "operationId": "sendMedia",
        "summary": "Send a media message",
        "tags": [
          "Send Media"
        ],
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "O número que receberá a mensagem."
                  },
                  "files": {
                    "type": "string",
                    "description": "O arquivo a ser enviado em bytes",
                    "format": "binary"
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensagem de texto enviada em conjunto com o arquivo."
                  },
                  "autoClose": {
                    "type": "boolean",
                    "description": "Indica se o ticket deve ser fechado automaticamente ou não após essa mensagem."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<success message>"
                    }
                  },
                  "example": {
                    "message": "<success message>"
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/mediaUrl": {
      "post": {
        "operationId": "sendMediaUrl",
        "summary": "Send a media message from URL",
        "tags": [
          "Send Media URL"
        ],
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "O número que receberá a mensagem."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL do arquivo que será enviado."
                  },
                  "type": {
                    "type": "string",
                    "description": "O tipo de arquivo (`image`, `video`, `audio` ou `document`)."
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "MimeType do arquivo (`image/png`, `image/jpg` etc)"
                  },
                  "fileName": {
                    "type": "string",
                    "description": "O nome do arquivo a ser enviado."
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensagem de texto enviada em conjunto com o arquivo."
                  },
                  "autoClose": {
                    "type": "boolean",
                    "description": "Indica se o ticket deve ser fechado automaticamente ou não após essa mensagem."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<success message>"
                    }
                  },
                  "example": {
                    "message": "<success message>"
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tickets": {
      "get": {
        "operationId": "listTickets",
        "summary": "List the tickets",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "description": "Status dos tickets entre `open`, `pending` e `closed`",
            "schema": {
              "type": "string",
              "description": "Status dos tickets entre `open`, `pending` e `closed`"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "userId",
            "description": "Id do usuário responsável pelo Ticket.",
            "schema": {
              "type": "string",
              "description": "Id do usuário responsável pelo Ticket."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "queueId",
            "description": "Id do departamento.",
            "schema": {
              "type": "string",
              "description": "Id do departamento."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "contactId",
            "description": "Id do contato.",
            "schema": {
              "type": "string",
              "description": "Id do contato."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "whatsappId",
            "description": "Id da conexão do WhatsApp.",
            "schema": {
              "type": "string",
              "description": "Id da conexão do WhatsApp."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "searchParam",
            "description": "Parâmetro de busca.",
            "schema": {
              "type": "string",
              "description": "Parâmetro de busca."
            },
            "required": false
          }
        ],
        "tags": [
          "List Tickets"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tickets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "unreadMessages": {
                            "type": "number"
                          },
                          "lastMessage": {
                            "type": "string"
                          },
                          "isGroup": {
                            "type": "boolean"
                          },
                          "isBot": {
                            "type": "boolean"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "whatsappId": {
                            "type": "string"
                          },
                          "queueId": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "chatConversationId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "tickets": [
                      {
                        "id": "id-do-ticket",
                        "order": 1,
                        "status": "open",
                        "unreadMessages": 0,
                        "lastMessage": "Última mensagem enviada",
                        "isGroup": false,
                        "isBot": false,
                        "channel": "evolution",
                        "userId": "id-do-usuario",
                        "contactId": "id-do-contato",
                        "whatsappId": "id-da-conexao",
                        "queueId": null,
                        "companyId": "id-da-empresa",
                        "chatConversationId": null,
                        "createdAt": "data-de-criacao",
                        "updatedAt": "data-da-ultima-atualizacao"
                      }
                    ]
                  },
                  "required": [
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a new tag",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreation"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "201": {
            "description": "Tag created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          }
        }
      }
    },
    "/api/tickets/{ticketId}": {
      "put": {
        "operationId": "updateTicket",
        "summary": "Send a text message",
        "parameters": [
          {
            "in": "path",
            "name": "ticketId",
            "description": "O ID do ticket a ser atualizado.",
            "schema": {
              "type": "string",
              "description": "O ID do ticket a ser atualizado."
            },
            "required": true
          }
        ],
        "tags": [
          "Send Mensages"
        ],
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "profilePicUrl": {
                    "type": "string"
                  },
                  "isGroup": {
                    "type": "boolean"
                  },
                  "isAdmin": {
                    "type": "boolean"
                  },
                  "isOpen": {
                    "type": "boolean"
                  },
                  "isBotEnabled": {
                    "type": "boolean"
                  },
                  "utmCampaign": {
                    "type": "string"
                  },
                  "utmContent": {
                    "type": "string"
                  },
                  "utmMedium": {
                    "type": "string"
                  },
                  "utmSource": {
                    "type": "string"
                  },
                  "utmTerms": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "channel": {
                    "type": "string"
                  },
                  "whatsappId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<success message>"
                    }
                  },
                  "example": {
                    "message": "<success message>"
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ticket not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_NO_TICKETS_FOUND"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_NO_TICKETS_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getTicket",
        "summary": "Get ticket",
        "tags": [
          "Get Ticket"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID do ticket"
                    },
                    "order": {
                      "type": "number",
                      "description": "Ordem em que ele aparecerá na fila"
                    },
                    "status": {
                      "type": "string",
                      "description": "Estado entre `open`, `pending` e `closed`"
                    },
                    "unreadMessages": {
                      "type": "number",
                      "description": "Número de mensagens não lidas"
                    },
                    "lastMessage": {
                      "type": "string",
                      "description": "Última mensagem enviada"
                    },
                    "isGroup": {
                      "type": "boolean",
                      "description": "Se é um grupo"
                    },
                    "isBot": {
                      "type": "boolean",
                      "description": "Se o bot está ativado"
                    },
                    "channel": {
                      "type": "string",
                      "description": "Nome da instancia"
                    },
                    "userId": {
                      "type": "string",
                      "description": "ID do usuário"
                    },
                    "contactId": {
                      "type": "string",
                      "description": "ID do contato"
                    },
                    "whatsappId": {
                      "type": "string",
                      "description": "Id da conexão do WhatsApp."
                    },
                    "queueId": {
                      "type": "string",
                      "description": "ID do departamento"
                    },
                    "companyId": {
                      "type": "string",
                      "description": "ID da empresa"
                    },
                    "chatConversationId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "id": "id-do-ticket",
                    "order": 1,
                    "status": "open",
                    "unreadMessages": 0,
                    "lastMessage": "Última mensagem enviada",
                    "isGroup": false,
                    "isBot": false,
                    "channel": "evolution",
                    "userId": "id-do-usuario",
                    "contactId": "id-do-contato",
                    "whatsappId": "id-da-conexao",
                    "queueId": null,
                    "companyId": "id-da-empresa",
                    "chatConversationId": null,
                    "createdAt": "data-de-criacao",
                    "updatedAt": "data-da-ultima-atualizacao"
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ticket not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_NO_TICKETS_FOUND"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_NO_TICKETS_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTicket",
        "summary": "Delete ticket",
        "parameters": [
          {
            "in": "path",
            "name": "ticketId",
            "description": "ID do ticket a ser excluído.",
            "schema": {
              "type": "string",
              "description": "ID do ticket a ser excluído."
            },
            "required": true
          }
        ],
        "tags": [
          "Delete Ticket"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<success message>"
                    }
                  },
                  "example": {
                    "message": "<success message>"
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ticket not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_NO_TICKETS_FOUND"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_NO_TICKETS_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts": {
      "get": {
        "operationId": "getContacts",
        "summary": "Get all contacts",
        "tags": [
          "Contacts"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "searchParam",
            "description": "Parâmetro de busca.",
            "schema": {
              "type": "string",
              "description": "Parâmetro de busca."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "pageNumber",
            "description": "Número da página.",
            "schema": {
              "type": "number",
              "description": "Número da página."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "date",
            "description": "Data de criação.",
            "schema": {
              "type": "string",
              "description": "Data de criação."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "dateStart",
            "description": "Data de início.",
            "schema": {
              "type": "string",
              "description": "Data de início."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "dateEnd",
            "description": "Data final.",
            "schema": {
              "type": "string",
              "description": "Data final."
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "profilePicUrl": {
                            "type": "string"
                          },
                          "isGroup": {
                            "type": "boolean"
                          },
                          "isAdmin": {
                            "type": "boolean"
                          },
                          "isOpen": {
                            "type": "boolean"
                          },
                          "isBotEnabled": {
                            "type": "boolean"
                          },
                          "utmCampaign": {
                            "type": "string"
                          },
                          "utmContent": {
                            "type": "string"
                          },
                          "utmMedium": {
                            "type": "string"
                          },
                          "utmSource": {
                            "type": "string"
                          },
                          "utmTerms": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "whatsappId": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "contacts"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a new contact",
        "tags": [
          "Contacts"
        ],
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the contact"
                  },
                  "number": {
                    "type": "string",
                    "description": "Phone number of the contact"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email of the contact"
                  },
                  "profilePicUrl": {
                    "type": "string",
                    "description": "URL of the profile picture"
                  },
                  "isGroup": {
                    "type": "boolean",
                    "description": "Whether the contact is a group"
                  },
                  "isAdmin": {
                    "type": "boolean",
                    "description": "Whether the contact is an admin"
                  },
                  "isOpen": {
                    "type": "boolean",
                    "description": "Whether the contact is open"
                  },
                  "isBotEnabled": {
                    "type": "boolean",
                    "description": "Whether the bot is enabled for the contact"
                  },
                  "utmCampaign": {
                    "type": "string",
                    "description": "UTM campaign"
                  },
                  "utmContent": {
                    "type": "string",
                    "description": "UTM content"
                  },
                  "utmMedium": {
                    "type": "string",
                    "description": "UTM medium"
                  },
                  "utmSource": {
                    "type": "string",
                    "description": "UTM source"
                  },
                  "utmTerms": {
                    "type": "string",
                    "description": "UTM terms"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the contact is active"
                  },
                  "channel": {
                    "type": "string",
                    "description": "Channel"
                  },
                  "whatsappId": {
                    "type": "string",
                    "description": "WhatsApp ID"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "ID of the company associated with the contact"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created contact"
                    },
                    "message": {
                      "type": "string",
                      "example": "Contact created successfully"
                    }
                  },
                  "required": [
                    "id",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts/{contactId}": {
      "get": {
        "operationId": "getContactById",
        "summary": "Get contact by ID",
        "tags": [
          "Contacts"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "description": "ID of the contact to retrieve",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "profilePicUrl": {
                      "type": "string"
                    },
                    "isGroup": {
                      "type": "boolean"
                    },
                    "isAdmin": {
                      "type": "boolean"
                    },
                    "isOpen": {
                      "type": "boolean"
                    },
                    "isBotEnabled": {
                      "type": "boolean"
                    },
                    "utmCampaign": {
                      "type": "string"
                    },
                    "utmContent": {
                      "type": "string"
                    },
                    "utmMedium": {
                      "type": "string"
                    },
                    "utmSource": {
                      "type": "string"
                    },
                    "utmTerms": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "channel": {
                      "type": "string"
                    },
                    "whatsappId": {
                      "type": "string"
                    },
                    "companyId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_NO_CONTACTS_FOUND"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_NO_CONTACTS_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update contact",
        "tags": [
          "Contacts"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "description": "ID of the contact to update",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "profilePicUrl": {
                    "type": "string"
                  },
                  "isGroup": {
                    "type": "boolean"
                  },
                  "isAdmin": {
                    "type": "boolean"
                  },
                  "isOpen": {
                    "type": "boolean"
                  },
                  "isBotEnabled": {
                    "type": "boolean"
                  },
                  "utmCampaign": {
                    "type": "string"
                  },
                  "utmContent": {
                    "type": "string"
                  },
                  "utmMedium": {
                    "type": "string"
                  },
                  "utmSource": {
                    "type": "string"
                  },
                  "utmTerms": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "channel": {
                    "type": "string"
                  },
                  "whatsappId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact updated successfully"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_NO_CONTACTS_FOUND"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_NO_CONTACTS_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete contact",
        "tags": [
          "Contacts"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "path",
            "name": "contactId",
            "description": "ID of the contact to delete",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<success message>"
                    }
                  },
                  "example": {
                    "message": "<success message>"
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_NO_CONTACTS_FOUND"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_NO_CONTACTS_FOUND"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/schedules": {
      "post": {
        "operationId": "createSchedule",
        "summary": "Create a new schedule",
        "tags": [
          "Schedules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactId": {
                    "type": "string",
                    "description": "ID of the associated contact"
                  },
                  "sendAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time at which the schedule is to be sent"
                  },
                  "flow": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "message",
                            "image",
                            "video",
                            "file",
                            "audio"
                          ],
                          "description": "Type of content in the flow"
                        },
                        "content": {
                          "type": "string",
                          "description": "Content URL"
                        },
                        "delay": {
                          "type": "string",
                          "description": "Delay in seconds before sending this content"
                        },
                        "fileName": {
                          "type": "string",
                          "description": "Name of the file (nullable)"
                        }
                      },
                      "required": [
                        "type",
                        "content",
                        "delay"
                      ]
                    },
                    "description": "Flow of content to be sent"
                  },
                  "userId": {
                    "type": "string",
                    "description": "ID of the user who created the schedule"
                  },
                  "flowId": {
                    "type": "string",
                    "description": "ID of the associated flow (nullable)"
                  }
                },
                "required": [
                  "contactId",
                  "sendAt",
                  "userId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the schedule"
                    },
                    "flow": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "message",
                              "image",
                              "video",
                              "file",
                              "audio"
                            ],
                            "description": "Type of content in the flow"
                          },
                          "content": {
                            "type": "string",
                            "description": "Content URL"
                          },
                          "delay": {
                            "type": "string",
                            "description": "Delay in seconds before sending this content"
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Name of the file (nullable)"
                          }
                        },
                        "required": [
                          "type",
                          "content",
                          "delay"
                        ]
                      },
                      "description": "Flow of content to be sent"
                    },
                    "sendAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time at which the schedule is to be sent"
                    },
                    "sentAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time at which the schedule was sent (nullable)"
                    },
                    "contactId": {
                      "type": "string",
                      "description": "ID of the associated contact"
                    },
                    "ticketId": {
                      "type": "string",
                      "description": "ID of the associated ticket (nullable)"
                    },
                    "userId": {
                      "type": "string",
                      "description": "ID of the user who created the schedule"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the schedule"
                    },
                    "companyId": {
                      "type": "string",
                      "description": "ID of the company associated with the schedule"
                    },
                    "flowId": {
                      "type": "string",
                      "description": "ID of the associated flow (nullable)"
                    },
                    "sequenceId": {
                      "type": "string",
                      "description": "ID of the associated sequence (nullable)"
                    },
                    "sequenceStageId": {
                      "type": "string",
                      "description": "ID of the associated sequence stage (nullable)"
                    },
                    "whatsappId": {
                      "type": "string",
                      "description": "ID of the associated WhatsApp connection"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time at which the schedule was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time at which the schedule was last updated"
                    },
                    "contact": {
                      "description": "Information about the associated contact",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "number": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "profilePicUrl": {
                          "type": "string"
                        },
                        "isGroup": {
                          "type": "boolean"
                        },
                        "isAdmin": {
                          "type": "boolean"
                        },
                        "isOpen": {
                          "type": "boolean"
                        },
                        "isBotEnabled": {
                          "type": "boolean"
                        },
                        "utmCampaign": {
                          "type": "string"
                        },
                        "utmContent": {
                          "type": "string"
                        },
                        "utmMedium": {
                          "type": "string"
                        },
                        "utmSource": {
                          "type": "string"
                        },
                        "utmTerms": {
                          "type": "string"
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "channel": {
                          "type": "string"
                        },
                        "whatsappId": {
                          "type": "string"
                        },
                        "companyId": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      }
                    },
                    "user": {
                      "description": "Information about the user who created the schedule",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID of the user"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the user"
                        }
                      }
                    },
                    "typebotFlow": {
                      "type": "string",
                      "description": "Typebot flow associated with the schedule (nullable)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_SENDING_WAPP_MSG"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "<validation error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getSchedules",
        "summary": "Get all schedules",
        "tags": [
          "Schedules"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "contactId",
            "description": "ID do contato.",
            "schema": {
              "type": "string",
              "description": "ID do contato."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "userId",
            "description": "ID do usuário.",
            "schema": {
              "type": "string",
              "description": "ID do usuário."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "searchParam",
            "description": "Parâmetro de busca.",
            "schema": {
              "type": "string",
              "description": "Parâmetro de busca."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "pageNumber",
            "description": "Número da página.",
            "schema": {
              "type": "number",
              "description": "Número da página."
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schedules": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Schedule"
                      }
                    }
                  },
                  "required": ["schedules"]
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          }
        }
      }
    },
    "/api/schedules/{scheduleId}": {
      "get": {
        "operationId": "getScheduleById",
        "summary": "Get schedule by ID",
        "parameters": [
          {
            "in": "path",
            "name": "scheduleId",
            "description": "ID of the schedule to retrieve",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID of the schedule to retrieve"
            },
            "required": true
          }
        ],
        "tags": [
          "Schedules"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the schedule"
                    },
                    "flow": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "message",
                              "image",
                              "video",
                              "file",
                              "audio"
                            ],
                            "description": "Type of content in the flow"
                          },
                          "content": {
                            "type": "string",
                            "description": "Content URL"
                          },
                          "delay": {
                            "type": "string",
                            "description": "Delay in seconds before sending this content"
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Name of the file (nullable)"
                          }
                        },
                        "required": [
                          "type",
                          "content",
                          "delay"
                        ]
                      },
                      "description": "Flow of content to be sent"
                    },
                    "sendAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time at which the schedule is to be sent"
                    },
                    "sentAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time at which the schedule was sent (nullable)"
                    },
                    "contactId": {
                      "type": "string",
                      "description": "ID of the associated contact"
                    },
                    "ticketId": {
                      "type": "string",
                      "description": "ID of the associated ticket (nullable)"
                    },
                    "userId": {
                      "type": "string",
                      "description": "ID of the user who created the schedule"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the schedule"
                    },
                    "companyId": {
                      "type": "string",
                      "description": "ID of the company associated with the schedule"
                    },
                    "flowId": {
                      "type": "string",
                      "description": "ID of the associated flow (nullable)"
                    },
                    "sequenceId": {
                      "type": "string",
                      "description": "ID of the associated sequence (nullable)"
                    },
                    "sequenceStageId": {
                      "type": "string",
                      "description": "ID of the associated sequence stage (nullable)"
                    },
                    "whatsappId": {
                      "type": "string",
                      "description": "ID of the associated WhatsApp connection"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time at which the schedule was created"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time at which the schedule was last updated"
                    },
                    "contact": {
                      "description": "Information about the associated contact",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "number": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "profilePicUrl": {
                          "type": "string"
                        },
                        "isGroup": {
                          "type": "boolean"
                        },
                        "isAdmin": {
                          "type": "boolean"
                        },
                        "isOpen": {
                          "type": "boolean"
                        },
                        "isBotEnabled": {
                          "type": "boolean"
                        },
                        "utmCampaign": {
                          "type": "string"
                        },
                        "utmContent": {
                          "type": "string"
                        },
                        "utmMedium": {
                          "type": "string"
                        },
                        "utmSource": {
                          "type": "string"
                        },
                        "utmTerms": {
                          "type": "string"
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "channel": {
                          "type": "string"
                        },
                        "whatsappId": {
                          "type": "string"
                        },
                        "companyId": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      }
                    },
                    "user": {
                      "description": "Information about the user who created the schedule",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID of the user"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the user"
                        }
                      }
                    },
                    "typebotFlow": {
                      "type": "string",
                      "description": "Typebot flow associated with the schedule (nullable)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Mensagem de erro",
                      "example": "ERR_SESSION_EXPIRED"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_SESSION_EXPIRED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error message",
                      "example": "ERR_NO_SCHEDULE_FOUND"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "title": "Error",
                  "description": "The error information",
                  "example": {
                    "error": "ERR_NO_SCHEDULE_FOUND"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateSchedule",
        "summary": "Update a schedule",
        "parameters": [
          {
            "in": "path",
            "name": "scheduleId",
            "description": "The ID of the schedule to update",
            "schema": {
              "type": "string",
              "description": "The ID of the schedule to update"
            },
            "required": true
          }
        ],
        "tags": [
          "Schedules"
        ],
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleCreation"
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.SUCCESS"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.ERR_NO_SCHEDULE_FOUND"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSchedule",
        "summary": "Delete a schedule",
        "parameters": [
          {
            "in": "path",
            "name": "scheduleId",
            "description": "The ID of the schedule to delete",
            "schema": {
              "type": "string",
              "description": "The ID of the schedule to delete"
            },
            "required": true
          }
        ],
        "tags": [
          "Schedules"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.SUCCESS"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.ERR_NO_SCHEDULE_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/api/tags": {
      "get": {
        "operationId": "getTags",
        "summary": "Get all tags",
        "tags": [
          "Tags"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "The number of tags returned"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates if there are more tags available"
                    }
                  },
                  "required": ["tags", "count", "hasMore"]
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a new tag",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreation"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "201": {
            "description": "Tag created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          }
        }
      }
    },
    "/api/tags/{tagId}": {
      "get": {
        "operationId": "getTagById",
        "summary": "Get tag by ID",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tagId",
            "description": "ID of the tag to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.ERR_NO_TAGS_FOUND"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateTag",
        "summary": "Update a tag by ID",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tagId",
            "description": "ID of the tag to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.ERR_NO_TAGS_FOUND"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag by ID",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tagId",
            "description": "ID of the tag to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.SUCCESS"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.ERR_NO_TAGS_FOUND"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments": {
      "get": {
        "operationId": "getDepartments",
        "summary": "Get all departments",
        "tags": [
          "Departments"
        ],
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
[...]
